<main class="bg-[#E2E8F0] min-h-[100dvh] flex justify-center items-center">
  <form class="w-[445px] flex flex-col p-12 bg-white rounded-2xl shadow-[0px_20px_27px_0px_rgba(0,0,0,0.05)]">
    <h1 class="pb-3 font-bold text-xl">Registrar Nuevo Usuario</h1>
    <div class="flex flex-col">
      <label class="mb-3" for="">Nombre</label>
      <input
        class="mb-9 px-4 border h-12 rounded-2xl outline-none focus:border-[#3182ce] hover:border-[#CBD5E0] shadow-[0px_0px_0px_1px_rgb(49,130,206)]"
        type="text" name="" id="" placeholder="Tu nombre completo">
      <label class="mb-3" for="">Correo Electrónico</label>
      <input
      class="mb-9 px-4 border h-12 rounded-2xl outline-none focus:border-[#3182ce] hover:border-[#CBD5E0] shadow-[0px_0px_0px_1px_rgb(49,130,206)]"
      type="email" name="" id="" placeholder="Tu correo electrónico">
      <label class="mb-3" for="">Contraseña</label>
      <input
        class="mb-9 px-4 border h-12 rounded-2xl outline-none focus:border-[#3182ce] hover:border-[#CBD5E0] shadow-[0px_0px_0px_1px_rgb(49,130,206)]"
        type="password" name="" id="" placeholder="Tu contraseña">
      <button class="my-5 h-11 bg-[#4FD1C5] text-white rounded-2xl text-[10px] font-semibold" type="submit">REGISTRAR</button>
    </div>
  </form>
</main>
